
<ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs" let-last = last>
    <li class="breadcrumb-item"
        *ngIf="breadcrumb.label.title&&breadcrumb.url.substring(breadcrumb.url.length-1) == '/'||breadcrumb.label.title&&last"
        [ngClass]="{active: last}">
      <a *ngIf="!last" [routerLink]="breadcrumb.url">{{breadcrumb.label.title}}</a>
      <span *ngIf="last" [routerLink]="breadcrumb.url">{{breadcrumb.label.title}}</span>
    </li>
  </ng-template>
  <div class="container-fluid monitor-zoom-button-group" *ngIf="isMonitor">
    <div class="pull-right">
      <i class="icon-plus zoom-button" (click)="onTapZoomOut()"></i>
      <i class="icon-minus zoom-button" (click)="onTapZoomIn()"></i>
    </div>
</div>