<div class="data-page clearfix">
    <div class="data-list-container col-12">
        <div class="row">
            <div class="">
                <button class="btn btn-success" (click)="onTapNewModal()">New Ad</button>
                <input [(ngModel)]="searchName" placeholder="search" (change)="AdFilter()">
                <a (click)="onTapXML()" style="cursor: pointer;">xml</a>
            </div>
            <div class="header col-12" style="margin-top: 20px;">
                <div class="header-content row">

                    <div class="column-no">
                        No
                    </div>
                    <div class="column-image">
                        Ad Image
                    </div>
                    <div class="column-name" (click)="onTapSortName()">
                        Ad Name
                        <img *ngIf="sortUpName" src="assets/img/sort-up.png" class="sort">
                        <img *ngIf="!sortUpName" src="assets/img/sort-down.png" class="sort">
                    </div>
                    <div class="column-type">
                        Ad Type
                        <!-- <img *ngIf="sortUpActivate" src="assets/img/sort-up.png" class="sort">
                        <img *ngIf="!sortUpActivate" src="assets/img/sort-down.png" class="sort"> -->
                    </div>
                    <div class="column-scheduleType">
                        Schedule Type
                    </div>
                    <div class="column-schedule">
                        Schedule
                    </div>

                    <div class="column-activate" (click)="onTapSortActivate()">
                        Activate
                        <img *ngIf="sortUpActivate" src="assets/img/sort-up.png" class="sort">
                        <img *ngIf="!sortUpActivate" src="assets/img/sort-down.png" class="sort">
                    </div>
                    <div class="column-edit text-right" style="padding-right: 14px;">
                        Edit / Delete
                    </div>

                </div>
            </div>
            <div class="content col-12">
                <div class="c-row" *ngFor="let item of DataForDisplay;let index = index" (click)="showDetail(item)">
                    <!-- ./row For Date -->
                    <div class="c-row-content detail row">
                        <div class="column-no">{{index + 1}}</div>
                        <div class="column-image">
                            <img src="{{item.image}}" class="img img-fluid img-thumbnail ad-thumb"
                                onerror="this.src='assets/img/ad_thumb.png';">

                        </div>
                        <div class="column-name">{{item.name}}</div>
                        <div class="column-type">{{item.type}}</div>
                        <div class="column-scheduleType">{{item.scheduleType}}</div>
                        <div class="column-schedule">{{item.schedule}}</div>

                        <div class="column-activate text-center">
                            <input class="form-check-input1 chk-layer" type="checkbox" disabled [checked]="item.enable">
                        </div>


                        <div class="column-edit text-right" style="padding-right: 10px;">
                            <button class="btn btn-success btn-sm btn-edit"
                                (click)="editDataset($event, item)">Edit</button>
                            <button class="btn btn-danger btn-sm btn-edit"
                                (click)="deleteDataset($event, item)">Delete</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- ./row For Dataset -->
                </div>
                <!-- ./ngFor DataForDisplay -->

                <div class="text-center">
                    <i class="fa fa-spinner busySplash mt-150 large" *ngIf="busy"></i>
                </div>

                <div class="c-row day-start more-btn-row clearfix">
                    <div class="col-12 text-center">
                        <div class="no-data" *ngIf="noData">{{message}}</div>
                    </div>
                </div>

            </div>
            <!-- ./content -->
        </div>
    </div>
    <!-- row -->
</div>

<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Ad</h4>
                <button type="button" class="close" (click)="addModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <label for="newAdName">Ad Name:</label>
                    </div>
                    <div class="col-8">
                        <input type="email" class="form-control" id="newAdName" placeholder="Ad Name"
                            [(ngModel)]="newAdName">
                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col-4">
                        <label>Ad Type:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" [(ngModel)]="newAdType">
                            <option>Banner</option>
                            <option>Rolling</option>
                            <option>App Link</option>
                            <option>Top Bank</option>
                            <option>App Open Ad</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-15">
                    <div class="col-4">
                        <label>Provider Name:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" [(ngModel)]="newAdBank">
                            <option *ngFor="let item of adProviderList">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col-4">
                        <label for="newDescription">Ad Link:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="newDescription" placeholder="Ad Link"
                            [(ngModel)]="newAdLink">
                        <div class="warning" *ngIf="newAdLink.length == 0">Ad Link is empty</div>
                    </div>
                </div>

                <div class="row mt-15" *ngIf="newAdType == 'App Link' ">
                    <div class="col-4">
                        <label for="newDescription">Display Order:</label>
                    </div>
                    <div class="col-8">
                        <input type="number" class="form-control" [(ngModel)]="newAdOrder" min="0" max="1000" step="1">
                        <div class="warning" *ngIf="newAdOrderIsError">Dispaly Order is not unique.</div>
                    </div>
                </div>

                <div class="row mt-15" *ngIf="newAdType == 'Top Bank' ">
                    <div class="col-4">
                        <label for="newDescription">Tag line:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" [(ngModel)]="newAdTagLine">
                        <div class="warning" *ngIf="newAdTagLine.length == 0">Tag line is empty.</div>
                    </div>
                </div>
                <div *ngIf="newAdType == 'Rolling' ">
                    <div class="row mt-15">
                        <div class="col-4">
                            <label for="newDescription">Position:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="newAdPosition">
                        </div>
                    </div>

                    <div class="row mt-15">
                        <div class="col-4">
                            <label for="newDescription">Height:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="newAdHeight">
                        </div>
                    </div>
                </div>

                <div *ngIf="newAdType == 'App Open Ad' ">
                    <div class="row mt-15">
                        <div class="col-4">
                            <label for="newDescription">Frequency:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="newAdFrequency">
                        </div>
                    </div>

                    <div class="row mt-15">
                        <div class="col-4">
                            <label for="newDescription">Duration:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="newAdDuration">
                        </div>
                    </div>
                </div>

                <div class="row mt-15" *ngIf="newAdType == 'Banner' ">
                    <div class="col-4">
                        <label for="newDescription">Tab:</label>
                    </div>
                    <div class="col-8">
                        <input type="number" class="form-control" [(ngModel)]="newAdTabId">
                    </div>
                </div>

                <div class="row mt-15" *ngIf="newAdType == 'Banner' ">
                    <div class="col-4">
                        <label for="defaultCheck2">
                            Full Width:
                        </label>
                    </div>
                    <div class="col-8">
                        <input class="form-check-input" type="checkbox" id="defaultCheck2" style="margin-left: 0;"
                            [checked]="newAdFullWidth" (change)="newAdFullWidth = !newAdFullWidth">
                    </div>
                </div>

                <div *ngIf="newAdType!='App Link' && newAdType!='Top Bank' ">
                    <ul class="nav nav-tabs mt-15" role="tablist">
                        <li class="nav-item" (click)="selectedTab = 'upload' ">
                            <a [class.active]="selectedTab == 'upload'" class="nav-link" data-toggle="tab"
                                role="tab">Upload
                                Image</a>
                        </li>
                        <li class="nav-item" (click)="selectedTab = 'link'">
                            <a [class.active]="selectedTab == 'link'" class="nav-link" role="tab">Image Link</a>
                        </li>
                        <li class="nav-item" (click)="selectedTab = 'existing'">
                            <a [class.active]="selectedTab == 'existing'" class="nav-link" data-toggle="tab"
                                role="tab">From
                                Server</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show" [class.active]="selectedTab == 'upload'" role="tabpanel">
                            <div class="form-group">
                                <label for="image">Ad Image</label>
                                <input type="file" class="form-control" id="image"
                                    (change)="newImageFileChangeEvent($event)" [(ngModel)]="newAdImageObject"> </div>

                        </div>
                        <div class="tab-pane fade show" [class.active]="selectedTab == 'link'" role="tabpanel">
                            <div class="form-group">
                                <label for="newImageUrl">Ad Image</label>
                                <input type="text" class="form-control" id="newImageUrl" placeholder="Image Url"
                                    [(ngModel)]="newAdImageURL">
                            </div>
                        </div>
                        <div class="tab-pane fade show" [class.active]="selectedTab == 'existing'" role="tabpanel">

                            <div class="row image-grid">
                                <div class="col-3" *ngFor="let item of imageList;"
                                    (click)="newAdImageURL = item; newAdImageFile = null;">
                                    <img class="img" src="{{item}}" [class.selected]="newAdImageURL == item"
                                        onerror="this.src='assets/img/ad_thumb.png';">
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="mt-15">
                        <img src="{{newAdImageURL}}" class="image-preview"
                            onerror="this.src='assets/img/ad_thumb.png';">
                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col-4">
                        <label>Schedule type:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" [(ngModel)]="newAdScheduleType" (change)="onChangeNewAdSchedule()">
                            <option>Monthly</option>
                            <option>Weekly</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-15">
                    <div class="col-4">
                        <label for="newAdSchedule">Schedule:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="newAdSchedule" placeholder="Schedule"
                            [(ngModel)]="newAdSchedule" (keyup)="onChangeNewAdSchedule()">
                        <div class="error">{{newScheduleError}}</div>
                    </div>
                </div>

                <div class="form-check mt-15">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" style="margin-left: 0;"
                        [checked]="newAdEnabled" (change)="newAdEnabled = !newAdEnabled">
                    <label class="form-check-label" for="defaultCheck1">
                        Activate
                    </label>
                </div>

            </div>
            <div class="modal-footer">
                <div class="">{{newAdMessage}}</div>
                <i class="fa fa-spinner busySplash" *ngIf="isNewUserBusy"></i>
                <button type="button" class="btn btn-secondary" (click)="addModal.hide()">Close</button>
                <button type="button" class="btn btn-danger" (click)="confirmNewAd(); ">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Ad</h4>
                <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <label for="editAdName">Ad Name:</label>
                    </div>
                    <div class="col-8">
                        <input type="email" class="form-control" id="editAdName" placeholder="Ad Name"
                            [(ngModel)]="editAdName">

                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col-4">
                        <label>Ad Type:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" [(ngModel)]="editAdType">
                            <option>Banner</option>
                            <option>Rolling</option>
                            <option>App Link</option>
                            <option>Top Bank</option>
                            <option>App Open Ad</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-15">
                    <div class="col-4">
                        <label>Provider Name:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" [(ngModel)]="editAdBank">
                            <option *ngFor="let item of adProviderList">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-15">

                    <div class="col-4">
                        <label for="editAdLink">Ad Link:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="editAdLink" placeholder="Ad Link"
                            [(ngModel)]="editAdLink">
                        <div class="warning" *ngIf="editAdLink.length == 0">Ad Link is empty</div>
                    </div>
                </div>

                <div class="row mt-15" *ngIf="editAdType == 'App Link' ">
                    <div class="col-4">
                        <label for="newDescription">Display Order:</label>
                    </div>
                    <div class="col-8">
                        <input type="number" class="form-control" [(ngModel)]="editAdOrder" min="0" max="1000" step="1">
                        <div class="warning" *ngIf="editAdOrderIsError">Dispaly Order is unique.</div>
                    </div>
                </div>

                <div class="row mt-15" *ngIf="editAdType == 'Top Bank' ">

                    <div class="col-4">
                        <label for="newDescription">Tag line:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" [(ngModel)]="editAdTagLine">
                        <div class="warning" *ngIf="editAdTagLine.length == 0">Tag line is empty.</div>
                    </div>
                </div>

                <div *ngIf="editAdType == 'Rolling' ">
                    <div class="row mt-15">
                        <div class="col-4">
                            <label for="newDescription">Position:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="editAdPosition">
                        </div>
                    </div>

                    <div class="row mt-15">
                        <div class="col-4">
                            <label for="newDescription">Height:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="editAdHeight">
                        </div>
                    </div>
                </div>
                
                <div *ngIf="editAdType == 'App Open Ad' ">
                    <div class="row mt-15">
                        <div class="col-4">
                            <label for="newDescription">Frequency:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="editAdFrequency">
                        </div>
                    </div>

                    <div class="row mt-15">
                        <div class="col-4">
                            <label for="newDescription">Duration:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="editAdFrequency">
                        </div>
                    </div>
                </div>

                <div class="row mt-15" *ngIf="editAdType == 'Banner' ">
                    <div class="col-4">
                        <label for="newDescription">Tab:</label>
                    </div>
                    <div class="col-8">
                        <input type="number" class="form-control" [(ngModel)]="editAdTabId">
                    </div>
                </div>

                <div class="row mt-15" *ngIf="editAdType == 'Banner' ">
                    <div class="col-4">
                        <label for="defaultCheck2">
                            Full Width:
                        </label>
                    </div>
                    <div class="col-8">
                        <input class="form-check-input" type="checkbox" id="defaultCheck2" style="margin-left: 0;"
                            [checked]="editAdFullWidth" (change)="editAdFullWidth = !editAdFullWidth">
                    </div>
                </div>

                <div *ngIf="editAdType!='App Link' && editAdType!='Top Bank' ">
                    <ul class="nav nav-tabs mt-15" role="tablist">
                        <li class="nav-item" (click)="selectedTab = 'upload' ">
                            <a [class.active]="selectedTab == 'upload'" class="nav-link" data-toggle="tab"
                                role="tab">Upload
                                Image</a>
                        </li>
                        <li class="nav-item" (click)="selectedTab = 'link'">
                            <a [class.active]="selectedTab == 'link'" class="nav-link" role="tab">Image Link</a>
                        </li>
                        <li class="nav-item" (click)="selectedTab = 'existing'">
                            <a [class.active]="selectedTab == 'existing'" class="nav-link" data-toggle="tab"
                                role="tab">From
                                Server</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show" [class.active]="selectedTab == 'upload'" role="tabpanel">
                            <div class="form-group">
                                <label for="image">Ad Image</label>
                                <input type="file" class="form-control" id="image"
                                    (change)="editImageFileChangeEvent($event)" [(ngModel)]="editAdImageObject">
                            </div>

                        </div>
                        <div class="tab-pane fade show" [class.active]="selectedTab == 'link'" role="tabpanel">
                            <div class="form-group">
                                <label for="newPassword">Ad Image</label>
                                <input type="text" class="form-control" id="newPassword" placeholder="Image Url"
                                    [(ngModel)]="editAdImageURL">
                            </div>
                        </div>
                        <div class="tab-pane fade show" [class.active]="selectedTab == 'existing'" role="tabpanel">
                            <div class="row image-grid">
                                <div class="col-3" *ngFor="let item of imageList;"
                                    (click)="editAdImageURL = item; editAdImageFile = null;">
                                    <img class="img" src="{{item}}" [class.selected]="editAdImageURL == item"
                                        onerror="this.src='assets/img/ad_thumb.png';">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-15">
                        <img src="{{editAdImageURL}}" class="image-preview"
                            onerror="this.src='assets/img/ad_thumb.png';">
                    </div>
                </div>
                <div class="row mt-15">
                    <div class="col-4">
                        <label>Schedule type:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" [(ngModel)]="editAdScheduleType"
                            (change)="onChangeEditAdSchedule()">
                            <option>Monthly</option>
                            <option>Weekly</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-15">
                    <div class="col-4">
                        <label for="editAdSchedule">Schedule:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="editAdSchedule" placeholder="Schedule"
                            [(ngModel)]="editAdSchedule" (keyup)="onChangeEditAdSchedule()">
                        <div class="error">{{editScheduleError}}</div>
                    </div>
                </div>

                <div class="form-check mt-15">
                    <input class="form-check-input" type="checkbox" id="defaultCheck2" style="margin-left: 0;"
                        [checked]="editAdEnabled" (change)="editAdEnabled = !editAdEnabled">
                    <label class="form-check-label" for="defaultCheck2">
                        Activate
                    </label>
                </div>

            </div>
            <div class="modal-footer">
                <div class="">{{editAdMessage}}</div>
                <i class="fa fa-spinner busySplash" *ngIf="isEditUserBusy"></i>
                <button type="button" class="btn btn-secondary" (click)="editModal.hide()">Close</button>
                <button type="button" class="btn btn-danger" (click)="confirmEditAd(); ">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #rejectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please Confirm</h4>
                <button type="button" class="close" (click)="rejectModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this Ad?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="rejectModal.hide()">Close</button>
                <button type="button" class="btn btn-danger"
                    (click)="confirmDelete(); rejectModal.hide()">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->